td{
	font-size: 9pt;
	padding: 3px;
	word-break:break-all;
}
.page{
	background-color: #CCCCCC;
}
A:link {font: 9pt; color: #000000; text-decoration: none}
A:visited {font: 9pt; color: #202060; text-decoration: none}
A:link {font: 9pt; color: #F00000; text-decoration: underline}
A:hover{text-decoration: underline}