@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body {
	font-family: 'Nanum Gothic', sans-serif;
}
h, td, tr, input, textarea, select, FORM
 {
   font-family:고딕;
  font-size:1em;
  border-radius:5px;
 }
 table, FORM
 {
  //border:1px solid rgba(36, 228, 172, 0.29);
  border-spacing:15px;
 }

